body {
  background-color: #24181d;
}

.contato {
  padding: 2em;
  text-align: center;
  margin-top: 70px;
}

.contato h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 2em;
  margin-bottom: 1.5em;
  color: whitesmoke;
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
