.apresentacao {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../img/v351batch2-kul-42-nightparty.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: 1s linear 0.5s animacaoTitulo forwards;
  transition: time;
}

@keyframes animacaoTitulo {
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
}

.site-title {
  font-size: 4em;
  font-family: "Gloria Hallelujah", cursive;
}

.site-subtitle {
  font-style: italic;
  font-size: 2em;
  font-family: "Press Start 2P", cursive;
  line-height: 1.8em;
}
