* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/fundo.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Source Code Pro", monospace;
  height: 100vh;
  font-size: 12px;
}

header {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
  background-color: teal;
  color: white;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: 1s linear 0.5s animacaoTitulo forwards;
  transition: time;
}

@keyframes animacaoTitulo {
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
}

.site-title {
  font-size: 4em;
  font-family: "Gloria Hallelujah", cursive;
}

.site-subtitle {
  font-style: italic;
  font-size: 2em;
  font-family: "Press Start 2P", cursive;
  line-height: 1.8em;
}

.sobre,
.portifolio {
  padding: 2em;
  min-height: 100vh;
}

.sobre {
  text-align: center;
}

.sobre .avatar img {
  height: 200px;
  width: 250px;
  margin-bottom: 10px;
}

.sobre p {
  color: whitesmoke;
  margin-bottom: 1.4em;
  text-indent: 1.4em;
  text-align: justify;
  font-size: 1.2em;
}

.sobre a {
  color: cyan;
}

.sobre h2,
.contato h2,
.portifolio h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 2em;
  margin-bottom: 1.5em;
  color: whitesmoke;
  text-align: center;
}

.portifolio .grid {
  display: grid;
  gap: 2em;
  align-content: center;
  justify-content: center;
}

.portifolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 5px;
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.1);
}

.portifolio figcaption {
  color: whitesmoke;
  font-size: 1.4em;
  font-weight: bold;
}

.contato {
  padding: 2em;
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

/* Aplicando a responsividade */

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 560px) {
  .portifolio .grid {
    grid-template-columns: 240px 240px;
    height: calc(100vh - 8em - 48px);
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }

  .sobre .avatar img {
    float: right;
    margin-left: 1em;
  }
}

@media (min-width: 800px) {
  .sobre .avatar img {
    height: 400px;
    width: 450px;
  }
}

@media (min-width: 880px) {
  .portifolio .grid {
    grid-template-columns: repeat(3, 240px);
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
