/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: url("../img/fundo.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background-color: #24181d;
  font-family: "Source Code Pro", monospace;
  height: 100vh;
  font-size: 12px;
}

.cabecalho {
  background-color: whitesmoke;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu {
  display: flex;
  justify-content: space-between;

  max-width: 1200px;
}

.menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
  background-color: teal;
  color: white;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Aplicando a responsividade */

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
