.portfolio {
  padding: 2em;
  height: 100vh;
  margin-top: 70px;
}

.portfolio h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 2em;
  margin-bottom: 1.5em;
  color: whitesmoke;
  text-align: center;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
  align-content: center;
  justify-content: center;
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 5px;
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.1);
}

.portfolio figcaption {
  color: whitesmoke;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 10px;
}

.portfolio .grid {
  margin-bottom: 40px;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
    height: calc(100vh - 8em - 48px);
    margin-bottom: 0;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 240px);
  }
}
